<header class="flex bg-[#FAFAFA] py-3 px-6 w-full">
  <div class="flex  items-center gap-2 p-3">
    <img class="w-5" src="images/icon-logo.svg" alt="Icone de logo">
    <h1 class="font-bold">GoTask</h1>
  </div>
  <nav class="flex gap-6 p-3 ml-auto">
    <button class="bg-white p-2 rounded-xl">
      <img class="w-5" src="images/icon-notification.svg" />
    </button>
    <div class="flex items-center gap-3">
      <img class="w-7" src="images/icon-user-avatar.svg" alt="Icone de usuário avatar" />
      <span class="font-bold">Jennie K.</span>
      <button class="w-3">
        <img class="w-3" src="images/icon-sign-out.svg" alt="" />
      </button>
    </div>
  </nav>
</header>
